<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.api.repository.PostMapper">
    <resultMap id="postResultMap" type="com.blog.api.domain.Post">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <association property="users" javaType="com.blog.api.domain.Users">
            <id property="id" column="users_id"/>
        </association>
    </resultMap>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into Post (title, content, users_id)
        values (#{title}, #{content}, #{users.id})
    </insert>
    <select id="findById" resultType="com.blog.api.domain.Post">
        select *
        from Post
        where id = #{id}
    </select>
    <select id="count" resultType="int">
        select count(*)
        from Post
    </select>
    <select id="findAll" resultType="com.blog.api.domain.Post">
    select id, title, content
    from Post
    order by id desc
    limit #{offset}, #{boardSize}
    </select>
    <update id="update">
        update Post
        set title=#{postEdit.title},
            content=#{postEdit.content}
            where id = #{id}
    </update>
    <delete id="delete">
        delete from Post
        where id = #{id}
    </delete>
    <delete id="deleteAll">
        delete from Post
    </delete>
</mapper>